.container{
  widht:100%;
  height:700px;
  background-color:#fff;
  display: grid;
  grid-template-rows:50px 250px auto 70px;
  grid-template-columns:repeat(4,1fr);
  grid-gap: 10px;
}
.item1{
  background-color:#eee;
  grid-row:1/2;
  grid-column:1/5;
  font-size:35px;
  font-style: italic;
  color:tomato;

}
.item2{
  background-color:yellow;
background-image:url(../Images/Logo.jpg);
background-position: center;
background-size: cover;
}

.item3{
  background-color:lightgrey;
  grid-row:2/4;
  grid-column:2/5;
  color:black;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
  padding:10px;
  letter-spacing:0.7px;


}
.item3 h3{
  color:lightcoral;
  text-decoration: underline;
  text-transform: uppercase;
}
.item4{
  background-color:#eee;
  grid-row:4/5;
  grid-column:1/5;
}

.item4 h1{
  color:blue;
  font-style: italic;
  text-align: right;
  text-decoration: none;
  padding-right:100px;
}
.item4 h1:hover{
  color:tomato;

}
.item03{
  background-color:#eee;
  grid-row:3/4;
  grid-column:1/2;
  color:black;
  font-style: italic;
  font-size: 25px;
}
