.container{
  width: 100%;
  height:700px;
  background-color: #fff;
  display:grid;
  grid-template-rows: 90px repeat(3,1fr);
  grid-template-columns:1fr 2.5fr 1fr 2.5fr;
  grid-gap:5px 0;
}
.item1{
  background-color: lightgrey;
  grid-row:1/2;
  grid-column:1/-1;
}
.item1 h1{
  color:black;
font-style: italic;
padding-left: 15px;
}
.item2{
grid-row:2/3;
  grid-column:1/2;
}
.item2,.item4,.item6,.item8,.item10,.item12{
  background-color:grey;
  }
.item2,.item4,.item6,.item8,.item10,.item12 ul{
  font-style: italic;
  font-size: 20px;
  color: #fff;
  font-weight:bold;
  text-decoration: underline;

}
.item3{
  background-color:pink;
grid-row:2/3;
  grid-column:2/3;
  margin-right:5px;
}
.item3 ul,.item5 ul,.item7 ul,.item9 ul,.item11 ul,.item13 ul{
  font-style: italic;
  font-size: 20px;
  color:black ;
  font-weight:bold;
  list-style-type: none;

}

.item3,.item5,.item9,.item13{
  background-color:pink;
}
.item7{
  background-color:pink;
  margin-right:5px;
}
.item11{
  background-color:pink;
  margin-right:5px;
}
