body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.item1
{
background-image: url(../Images/1.jpg);
}

.item2
{
	background-image: url(../Images/2.jpg);
}
.item3
{
	background-image: url(../Images/3.jpg);
}
.item4
{
	background-image: url(../Images/4.jpg);
}
.item1,.item2,.item3,.item4{
  padding: 0 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
  position: relative;
  background-position:center;
  margin:9px;
}
.box
{
	position: relative;
	max-width: 600px;
	padding: 50px;
	background: rgba(255,255,255,.3);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.box h2
{
	margin: 0 0 20px;
	padding: 0;
	font-size: 37px;
	text-transform: uppercase;
	color:white;
}
.box h2:hover{
color: tomato;
}
.box p
{
	margin: 0;
	padding: 0;
	font-size: 20px;
  color:black;
  font-weight: bolder;
}
