*{
  padding: 0px;
  margin-top:0px;
  font-family: sans-serif;
}
header{
  background-image: url(../Images/0.png);
  height:100vh;
  background-size: cover;
  background-position: center;

}
ul{
  margin-left:400px;
  float:center;
  list-style-type: none;
  margin-top:25px;
}
ul li{

  display: inline-block;
}
ul li a{
  text-decoration: none;
  color:#fff;
  padding:5px 20px;
transition: 0.6s ease;
  font-style: italic;
}
ul li a:hover{
  background-color:tomato;
  color:#000;
  font-style: italic;
}
.main h1{
  color:red;
  margin:0 0 0 15px;
}
.title{
  position: absolute;
  top: 60%;
  left: 45%;
  transform:translate(-50%,-50%);
  font-size:36px;
  color:white;
}
.title:hover{

  color:lightcoral;
  margin: 0;
  padding: 0;

}
